

    *{
        margin: 0;
        padding:0;    
    }
    
    /*NAVBAR*/
    * {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        overflow-x:hidden;
    }
    header {  
        width: 100%;
        height: 10vh;
        box-sizing: border-box;
        overflow: hidden;

    }
    
    header .logo {
        width: 50%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        
    } 
   
    header .logo img {
        width: 85%;
        height: 60%;
        padding: 7% 0 0 10%;
        
    }
    header nav {
        display: none;
    }
  
    /*HERO MOBILE*/

    .heroMobile {
        width: 100%;
        height: 90vh;
        position: relative;
    }

    #heroImageDesktop  {
        display: none;
    }
    .heroMobile > #heroImageMobile > img{
        width: 100%;
        height: 90vh;
    } 

    #heroMainDesktop {
        display: none;
    }

    .heroMobile > #heroMainMobile {
        position: absolute;
        background-color: #f7b617;
        text-align: center;
        height: 60%;
        width: 85%;
        margin: 0; 
        top: 20%;
        right: 0;
    }
    
    .heroMobile > #heroMainMobile > p {
        width: 95%;
        height: 25%;
        display: inline-block;
        color: white;
        font-size: 2rem;
        line-height: 1.5;
        padding: 0%;
        margin: 15% 0 0 0;
        font-weight: bolder;
    }
    
    .heroMobile > #heroMainMobile > img { 
        display: block;
        width: 50%;
        height: 10%;
        padding: 0;
        margin: 10% auto;
    }
    
    .heroMobile > #heroMainMobile > .btn1 {
        display: block;   
        width: 60vw;
        height: 8vh;
        margin: 5% auto;
        border: none;
        background-color:#fff;
        text-align: center;
        font-size: 1.3rem;
        outline: none;
        cursor: pointer;
        border-radius: 1rem; 
        color: black;
        font-weight: bolder;
    }

    /*INFORMATION*/

    .informationMobile {
        width: 100%;
        height: auto;  
        background-color: #f7b617;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }

    #informationMainDesktop {
        display: none;
    }

    .informationImage{
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
    
    .informationMobile img {
        display: block;
        height: 55vh;
        margin: 20% auto ;
        padding: 22% 3% ;
        border: 1px solid #fffaaa;    
    }
    
    .informationMobile #informationMainMobile .p5 {
        position: absolute;
        top: 12%;
        left: 15%;
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
    }
    
    .informationMobile #informationMainMobile .p6 {
        margin: 5% 5%;
        position: absolute;
        bottom: 1%;
        font-size: 1rem;
        color: #fff;
        font-weight: bold;
    }
    
   

    /*CONDUCE*/
    
    /*arreglar la imagne, que se vea nitida*/
    
    .driveMobile {  
        background: #f7b617;   
        width: 100vw;
        height: 100vh; 
        position: relative;  
    }
    
    .driveMobile > .driveImage {
        width: 100vw;
        height: 70vh;
    }

    .driveMobile > .driveImage > img {
        margin: 40% 0;
        width: 100vw;
        height: 50vh;   
    }

    .driveMobile > .driveMainMobile { 
        position: absolute;
        top: 22.5%;
        width: 100%;
        height: 50vh;
        background-color:rgba(0,0,0,.5);  
        z-index: 3000;
    }
    
    .driveMainMobile > .one {
        display: inline-block;
        color: #fff;
        font-weight: bolder;
        padding: 8%;
        font-size: 1.5rem;
    } 
        
    .driveMainMobile > .two {
        display: inline-block;
        color: #fff;
        padding: 5% 0%;
        font-size: 1.2rem;
        margin: 5% 10%;
    } 
    
    .driveMainMobile > .btn2 {
        display: block;
        color: #fff;
        width: 80vw;
        height: 8vh;
        border: none;
        background-color:#f7b617;
        text-align: center;
        font-size: 1.3rem;
        outline: none;
        cursor: pointer;
        border-radius: 1rem;
        margin: auto;
    }
    
    /*TARIFAS*/
    .ratesMobile {
        width: 100vw;
        height: 100vh;
        background-color: #f7b617;
        
    }
    .ratesMainMobile {
        padding: 5% 0;
    }

    .ratesMainMobile > .rates {  
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 0%;
        font-size: 1.5rem;
        margin: 0 10%;
    }
    
    .ratesMainMobile > .check {    
        display: block;
        color: #fff;        
        font-size: 1rem;
        margin: 2% 0 2% 17%; 
    }
    
    .ratesMainMobile .calculate {
        margin: 0 auto;
    }
    .ratesMainMobile .calculate label {
        display: block;
        width: 80vw;
        margin: 5% 15%;
    }
    
    .ratesMainMobile .calculate label input {
        width: 60vw;
        margin: 0 5%;
    }
    
    .ratesMainMobile .calculate label input[type=text] {
        color: #fff;
        height: 3em;
        border: 2px solid #fff;
        border-radius: 4px;
        background-color: #f7b617;
    }
    
    .ratesMainMobile .route {
        display: block;
        color: black;
        width: 50vw;
        height: 6vh;
        border: none;
        background-color:#fff;
        text-align: center;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border-radius: .5rem;
        margin: 5% auto;
    }
    
    #map {
        height: 45vh;
        width: 80vw;
        margin: 7% auto;

        
    }
    /*FOOTER*/
    
    .footer {
        background-color: #2b2b2b ;
        width: 100%;
        height: 60vh;
        position: relative;
    }
    .whiteLogo {  
        display: inline-block;
        height: 10%;
        width: 35%;
        margin: 5% 5%;
    }
    .footer >.whiteLogo > img {
        height: 80%;
        width: 100%;
    }
    
    .footer > .wrapper  {
        width: 50%;
        height: 10%;
        display: inline-block; 
        margin: 5% 0%;
        
    }
    
    .footer > .wrapper > .icons {
        width: 100%;  
        height: 100%;
    }

    .footer > .wrapper > .icons > li{
        display: inline-block;
        list-style: none;
        margin: 0;
    }
    
    .footer > .wrapper > .icons > li > a {
        text-decoration: none;
        cursor: pointer;  
    }
    
    .footer > .footerDesktop {
        display: none;
    }
    
   
    .footer > .footerMobile { 
        display: inline-block;
        float: left;
        width: 35%;
        height: 70%;
        list-style: none;
        margin: 0% 7%;  
    }
    
    .footer > .footerMobile > li {
        margin: 8% 0;
        color: #fff;
        font-size: 1rem;
    } 
    
    .footer > .appLogos {
        display: inline-block;
        float: left;
        height: 70%;
        width: 48%;
        margin: 0 2% 0 0;
    }
    .footer .appLogos .apple{
        height: 20%;
        width: 90%;
        margin: 20% 0% 5% 0;
    }
    .footer .appLogos .android{
        height: 20%;
        width: 90%;
        margin: 10% 0% 5% 0;
    }
    
    
    .footer > p {
        display: block;
        color: #fff;
        margin: 5% 0 0 15%;
        font-size: .7rem;
    }
    
    
  
    


    @media screen and (min-width:1025px) {
        
        header {
            width: 100vw;
            height: 15vh;
            box-sizing: border-box;
            overflow: hidden;
             
        }
        
        figure.logo {
            display: block;
            float: left;
            width: 20%;
            height: 100%;
            margin: 0%;
        } 

        header .logo img {
            margin: 0 auto;
            width: 70%;
            height: auto;
            padding:10%;
        }

        header nav  {
            display: block;
            width:  40%;
            height: 90%;
            float: right;
            padding: 2% 0;
            
        }

        header > nav > ul {
            width:  100%;
            height: 100%;
            margin: 0 auto ;
          
        }

        header > nav > ul > li {
            display: inline-block;
            float: left;
            list-style: none;
            width: 32%;
            height: 100%;
            cursor: pointer;
        }

        header > nav > ul > li > a {
            text-align: center;
            text-decoration: none;
            color: black;
            height: 100%;
            display: block;
            padding: 12% 0;
            font-weight: bolder;
             }
             a:hover{
                 background-color:#222;
                 color: #fff;
             }

             #heroMainDesktop {
                display: none;
            }

            /*HERO DESKTOP*/
            #heroImageMobile {
                display:none;
            }
            #heroMainMobile {
                display: none;
            }
            
            .heroMobile {
                width: 100%;
                height: 90vh;
                position: relative;
            }
            
            #heroImageDesktop {
                display: block;
            }
            .heroMobile > #heroImageDesktop > img{
                width: 100%;
                height: 90vh;
            } 
            #heroMainDesktop {
                display: block;

            }
            .heroMobile > #heroMainDesktop {            
                position: absolute;
                background-color: #f7b617;
                height: 60%;
                width: 50%;
                margin: 0; 
                top: 20%;
                right: 0;
            } 
            .heroMobile > #heroMainDesktop > .p1{
                display: block;
                height: 12%;
                width: 35%;
                color: #fff;
                font-size: 2rem;
                font-weight: bolder;
                padding: 0;
                margin: 3% 0% 0 5%;
            } 
            .heroMobile > #heroMainDesktop > .p2 {
                display: block;
                height: 12%;
                width: 55%;
                color: #fff;
                font-weight: bolder;
                font-size: 2rem;
                padding: 0;
                margin: 0 0% 0 5%;
            }
            .heroMobile > #heroMainDesktop > .p3 {
                display: block;
                height: 8%;
                width: 18%;
                color: #fff;
                font-weight: bolder;
                font-size: 1.5rem;
                padding: 0;
                margin: 1% 5% 0 5%;
            }
            .miniLogo2, .btn2, .btn3  {
                display: block;
                padding: 1%;
                margin: 1% 0% 2% 4%;
            }

            .btn2, .btn3 {
                width: 25vw;
                height: 7vh;
                border: none;
                background-color:#fff;
                text-align: center;
                font-size: 1.5rem;
                outline: none;
                cursor: pointer;
                border-radius: 1rem; 
                color: black;
                font-weight: bolder;
                margin: 3% auto; 
            }
            
        /*INFORMATION*/
           #informationMainMobile {
               display: none;
           }
           #informationMainDesktop {
               display: block;
           }
           .informationMobile {
                height: 100vh;
                width: 100%;
                background-color: #f7b617;
                overflow: hidden;
                box-sizing: border-box;
                position: relative;
            }
           .informationMobile > .informationImage {
                height: 70%;
                width: 80%;
                box-sizing: border-box;
                margin: 5% 0 0 0;
                border: 1px solid #fffaaa;

            }
            .informationMobile > .informationImage > img {
                height: 80%;
                width: 30%;
                margin: 5% 0 0 10%;
                padding: 0%;
                border: none;
            }

            .informationMobile > #informationMainDesktop {
                display: block;
                position: absolute;
                top: 20%;
                right: 30%;
                height: 50%;
                width: 35%;
            }
            .informationMobile > #informationMainDesktop > .p7, .p8 ,.p9 {
                color: #fff;
                font-size: 1.5rem;
                font-weight: bolder;
                margin: 4% auto;
            }
            .informationMobile > #informationMainDesktop > .p7 {
                font-size: 2rem;
            }
            /*CONDUCE*/
            .driveMobile {  
                background: #f7b617;   
                width: 100vw;
                height: 100vh; 
                position: relative;    
            }

            .driveMobile > .driveImage {
                width: 100vw;
                height: 100vh;
            }
        
            .driveMobile > .driveImage > img {
                width: 100%;
                height: 100vh;
                margin: 0;
            }
        
            .driveMobile > .driveMainMobile { 
                position: absolute;
                top: 0%;
                right: 0%;
                width: 40%;
                height: 50vh;
                background-color:rgba(0,0,0,.7);  
               
            }
            .driveMainMobile > .one {
                display: inline-block;
                color: #fff;
                font-weight: bolder;
                padding: 0%;
                margin: 10% 10% 5% 10%;;
                font-size: 2rem;
            } 
                
            .driveMainMobile > .two {
                display: inline-block;
                color: #fff;
                padding:0%;
                font-size: 1.5rem;
                font-weight: bolder;
                margin: 0% 10%;
            } 
            
            .driveMainMobile > .btn2 {
                display: block;
                color: #fff;
                width: 30vw;
                height: 8vh;
                margin: 10% 10%;
                border: none;
                background-color:#f7b617;
                text-align: center;
                font-size: 1.5rem;
                outline: none;
                cursor: pointer;
                border-radius: 1rem;   
            }


            /*INFORMACION*/
            .ratesMobile {
                width: 100vw;
                height: 100%;
                
                background-color: #f7b617;
                border: 2px solid black;
               
            }
            
            .ratesMobile > .ratesMainMobile {
                height: 100vh;
                width: 50%; 
                display: inline-block;
                
            }
        
            .ratesMobile > .ratesMainMobile > .rates {  
               
                width: 40%;
                height: 6%;
                color: #fff;
                font-weight: bold;
                padding: 0%;
                font-size: 2rem;
                margin: 0 0 0 10%;
            }
            
            .ratesMobile > .ratesMainMobile > .check {    
                
                width: 50%;
                height: 6%;
                color: #fff;        
                font-size: 1.5rem;
                margin: 2% 0 2% 10%; 
            }
            
            .ratesMobile > .ratesMainMobile > .calculate {
                height: 30%;
                width: 90%;
               
                padding: 0;
                margin: 15% 0 2% 10%;
            }
            .ratesMobile > .ratesMainMobile > .calculate > label {
                display: block;
                width: 80%;
                height: 40%;
                margin: 5% auto;
              
            }
            .ratesMobile > .ratesMainMobile > .calculate > label > input {
                width: 30vw;
                margin: 0 5%;
            }
            
            .ratesMobile > .ratesMainMobile > .calculate > label > input[type=text] {
                color: #fff;
                height: 5em;
                border: 2px solid #fff;
                border-radius: 8px;
                background-color: #f7b617;
            }
            
            .ratesMobile > .ratesMainMobile > .route {
                display: block;
                color: black;
                width: 15vw;
                height: 8vh;
                border: none;
                background-color:#fff;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bolder;
                outline: none;
                cursor: pointer;
                border-radius: .5rem;
                margin: 0% auto;
                
            }
            
            #map {
                display: inline-block;
                height: 60vh;
                width: 45vw;
                margin: 0% auto;

    
            }

        /*FOOTER */
            
    }
    
    
    
